<html>
<body style="font-size:9px;">
<hr />
<div style=" margin:0 8 0 8;">
  The theme is designed around having a quad core PC with 2 graphics cards but is easily customizable.
</div> 
<hr />
<div style=" margin:0 8 0 8;">
  If you want to use CoreTemp instead of SpeedFan, select each of the Text items under the "Cores" section and change their "class" to "LH_Monitoring/CoreTempText". Then change the status images to "LH_Monitoring/CoreTempStatusImage".<br />
  <br />
  Similarly, to convert this theme from using MSI Afterburner to using RivaTuner or GPU-Z to monitor your graphics card(s) select the items under the GPUs heading and change them accordingly.   
</div>
</body>
</html>
