<html>
<body style="font-size:9px;">
<div style=" margin:0 120 8 120; font-size:12px;">
  <b>[Eos Layout]</b>  
</div>                   
<div style=" margin:0 8 0 8;">
  This layout is by Triscopic, but uses the following resources:
  <ul style="margin:4 4 0 0;">
    <li>"<a href="http://elusive.deviantart.com/art/Eos-98232490">Eos</a>" background by <b>elusive</b> @ DeviantArt.</li>
    <li>"<a href="http://famfamfam.com">Silk</a>" icons by <b>famfamfam.com</b>.</li>
    <li>Weather Images by <b>Yahoo!</b></li>
  </ul>
</div>  <hr />
<div style=" margin:0 8 0 8; color:darkblue">
  The main change you need to make to this layout is to change the location. Simply Select the "Weather Data" object (right) and type your location into the Location box. You may also want to change the threshold temperatures (the values set here work for me, but I do not guarentee them for anyone else!)
</div>
<hr />
</body>
</html>